body {
    background: #111;
    color: white;
}
.cell {
    width: 25px;
    height: 25px;
    background-color: grey;
}

h1 {
    color: cyan;
    font-size: 2em;
}

.shown {
    background-color: white;
}